/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Universal navigation bar .. for now */ 
nav {
	width: 100%;
	height: 100px;
	background-color: #1B1464;
	color: white;
	padding: 20px 0px 0px 0px;
	
}

/* All body info not much yet */
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* links */
a {
	text-decoration: none;
}

a:hover {
	color: red;
}

/* login div */
.logwrapper {
	
	/*border: solid #909090 1px;*/
	width: 450px;
	padding: 10px 10px 5px 5px;
	margin: 10px 50px 10px 10px;
	float: right;

}


/* for future reference */
.login {
	

}

/* login submit button */
.submitbutton input {
  width: 100px;
  background-color: #1B1464;
  color: white;
  padding: 5px 15px; 
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.submitbutton input:hover {
  width: 100px;
  background-color: #3D3B96;
  color: white;
  padding: 5px 15px; 
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* This is for "New? Sign Up!" area in login page */

.newuser {
	background-color: #F0F0F0;
	color: #909090; 
	font-size: 14px;
	padding: 5px 0px 45px 5px;
	width: 450px;

}

/* area to the left of actual login form in login page */
.announce {
	/*border: solid #909090 1px;*/
	width: 450px;
	padding: 10px 10px 5px 5px;
	margin: 10px 10px 10px 80px;
	float: left;
}

/* input tags on login but it's not really working yet */
.tags {
	width: 250px;
	height: 50px;


}

input[type=text]{
	width: 250px;
	height: 20px;
	font-size: 15px;
}
