/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Universal navigation bar .. for now */


nav {
	width: 100%;
	height: 50px;
	background: black;
	color: white;
	padding: 40px 0px 10px 0px;
	margin: 0px;
	/*opacity: .3;*/
	font-size: 20px;
}

#notif-dropdown{
  position: relative;
  left: 200px;
}

.site-name{
  margin: 0px;
  height: 0px;
  width: 0px;
  padding: 0px 10px 0px 20px;
}


.nav_logout {
	position: absolute;
	font-size: 14px;
	right: 80px;
	color: white;
	text-decoration: none;

}

p#logout_link {
	color: white;
	float: right;
}

/*.tagline {
	color: #5DA537;
	width: 300px;
	height: 50px;
	font-size: 20px;
	margin: 0px auto;
	padding-top: 20px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;

}*/
/*header {
	width: 100%;
	height: 100px;
	color: white;
	background-color: #0F1F3D;
	overflow: hidden;
	position: relative;
	display: block;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	padding: 10px 0px 0px 0px;
	margin: 0 auto;
	opacity: .1px;
}
*/

header ul li {
	list-style: none;
	display: block;
	float: right;
	padding: 5px 15px 5px 0px;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	color: white;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 25px;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-size: 25px
}

.logo_header img{
	width: 120px;
	height: 28px;
	padding: 15px;
	float: left;

}


/* All body info not much yet */
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0px;
}

/* links */
a {
	color: black;
	text-decoration: none;
}

.nav_logout a {
	color: white;
}

a:hover {
	color: gray;
}

/* login div */
.logwrapper {

	/*border: solid #909090 1px;*/
	width: 420px;
	padding: 10px 10px 10px 35px;
	margin: 10px 50px 10px 0px;
	float: right;
	background-color: #E6E6E6;

}


/* for future reference */
.login {


}

/* login submit button */
.submitbutton input {
  width: 100px;
  background-color: #425068;
  color: white;
  padding: 5px 15px;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.submitbutton input:hover {
  width: 100px;
  background-color: #3D3B96;
  color: white;
  padding: 5px 15px;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* This is for "New? Sign Up!" area in login page */

.newuser {
	/*background-color: #F0F0F0;*/
	color: #333333;
	font-size: 14px;
	padding: 5px 0px 45px 5px;
	width: 450px;

}

/* area to the left of actual login form in login page */
.announce {
	/*border: solid #909090 1px;*/
	width: 420px;
	padding: 10px 10px 5px 35px;
	margin: 10px 10px 10px 80px;
	float: left;
	background-color: #E6E6E6;
	opacity: 1;
}

.announce ul li  {
	color: #333333;
}


/*Basic css for any text_field */
input[type="text"], input[type="password"], input[type="date"], textarea{
	opacity: .5;
	width: 250px;
	height: 20px;
	font-size: 15px;
}

/*More specific, overriding css for edit text_fields*/
input[type="text"].edit_field{
	opacity: 1;	

}

section{
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  background-color: white;

}

.actions {
	width: 250px;
	height: 20px;
}
