.comment_bubble{
  border: 1px solid #000;
  height: 180px;
  width: 150px;
  background-color: white;
  color: black;
  box-shadow: 0px 1px 42px 0px  #F5F5F5;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  float:left;
  margin: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-align: left;
  overflow: auto;
  transition: 1s all;
  position: relative;

}

.comment_bubble:hover{

  background-color: #7AA3CC;
  color: black;
  /*margin-top: -1px;*/
  -ms-transform: translate(0, -5px); /* IE 9 */
  -webkit-transform: translate(0, -5px); /* Chrome, Safari, Opera */
  -transform: translate(0,-5px);
}

.comment_time {
	text-align: right;
  color: gray;
  font-size: 10px;
  position: absolute;
  vertical-align: bottom;
  /*height: 100%;*/
  bottom: 0;
  padding-bottom: 5px;
}

.comment-submission{
  display: none;
}

#comment_bar {
  width: 330px;
}

.comment-x{
  position: absolute;
  z-index: 1;
  right: 4px;
  top: 4px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 10px;
  height: 10px;
}

.comment-x:hover{
  right: 2px;
  top: 2px;
  background-color: FireBrick;
  border-radius: 50%;
  border: 2px solid FireBrick;
}

#comment_image{

}

.comment-picture{
  height:50px;
  width: auto;
  padding: 5px;
}

#large-picture {
  display:block;
  margin':0 auto;
  height:350px;
  /*opacity: 1;*/
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 66%;
}
