.main_memorial {
	background-color: #F0F0F0;
  width: 80%;
  height: 800px;
  display: block;
  margin: 20px 20px 0px 20px;
  padding: 10px;
  opacity: 1;
}

.title_description {
	background-color: white;
	height: 200px;
	padding: 10px;
	position: relative;
}

.search-form {
	margin: 0px;
	position: absolute;
	top: 0%;
	right: 0%;

}
.searchbtn {
	/*width: 400px;*/
	margin: 0px 0px 0px 0px;
	position: relative;
	top: 0%;
	right: 0%;
	width: 350px;
	vertical-align: top;
}

#alert-message{
	font-size: 10px;
	color: red;
	height: 20px;
}

#alert-message {
	font-size: 10px;
	color: red;
	height: 20px;
}

.invites {
 color: gray;
 font-size: 10px;
 background-color: white;
 width: 235px;
 height: 55px;
 padding: 10px;
 margin-right: 120px;
 box-shadow: 3px 3px 7px #999;

}

.drop-names {
	list-style-type: none;
	/*border: solid black 1px;*/
	padding: 10px;
	font-size: 10px;
	box-shadow: 3px 3px 7px #999;
  z-index: 2;

}

/*.invite-button {
	border: solid 1px black;
	padding: 5px;

}*/

#btn1 {
	/*border: solid 1px black;*/
	width: 200px;
	padding: 5px;
	margin: 5px;
}

#btn1:hover{
	background-color: gray;
	color: white;
}

#btn2 {
	border: solid 1px black;
	padding: 5px;
	margin-left: 5px;
}

#btn2:hover{
	background-color: white;
	border: solid black 1px;
}

button#cancel-invite {
  background-color: gray;
  border: solid black 2px;

}


.mempicture_upload {
	border: solid black 2px;
	height: 400px;
	width: 800px;
	background-color: white;
	float: center;
	margin-left: 50px;
}

.people_posts {

	height: 100%;
	background-color: white;
	padding: 10px;
}

#timeline_link {
}

.user_name {
	color: black;
	font-weight: bold;
	font-size: 10px
}

.user_msg {
	color: black;
}

#timeline_link {
	float: right;
}

.search_button {
	width: 80px;
	height: 25px;
	background: #0071BC;
	border: none;
	color: white;
	vertical-align: top;
}

.enter_button {
	width: 80px;
	height: 25px;
	background: #0071BC;
	border: none;
	color: white;
	vertical-align: top;
}

.memorial-picture{
	/*clip:	rect(0px, 800px, 400px, 0px);*/
	/*max-width: 800px;*/
	/*max-height: 400px;*/
	/*left: 500px;*/
	/*transform: translate(-50%,0%);*/
	position: absolute;
	/*display: none;*/
}

.crop{
	position: relative;
	left: 42%;
	transform: translate(-50%,0%);
}

.edit_memorial{
	display: none;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%,0%);
	border: 1px solid black;
	background-color: CornFlowerBlue;
	background-clip: content-box;
	opacity: .9;
  /*clip: rect(0px, 500px, 273px, 30px);*/
}

.mempicture_upload{
	background: radial-gradient(white,rgba(240,240,240,.6), rgba(190,190,190,.4));
	position: relative;
	overflow: hidden;
}

.empty-memorial-picture{
	margin: 0px;
	font-size: 36px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(240,240,240,1);
}

.hidden-image-info{
	display: none;
}
