.main_memorial {
	background-color: #F0F0F0;
  width: 80%;
  height: 800px;
  display: block;
  margin: 20px 20px 0px 20px;
  padding: 10px;
  opacity: 1;
}

.title_description {
	background-color: white;
	height: 200px;
	padding: 10px;
	position: relative;
}

.search-form {
	margin: 0px;
	position: absolute;
	top: 0%;
	right: 0%;

}
.searchbtn {
	/*width: 400px;*/
	margin: 0px 0px 0px 0px;
	position: relative;
	top: 0%;
	right: 0%;
	width: 350px;
	vertical-align: top;


}

#search-dropdown {
}

#alert-message {
	font-size: 10px;
	color: red;
	height: 20px;
}

.invites {
 color: gray;
 font-size: 10px;
 background-color: red;
 width: 300px;
 padding: 10px;
 margin-right: 120px;

}

.drop-names {
	list-style-type: none;
	border: solid black 1px;
	padding: 10px;
	font-size: 10px;
	box-shadow: 3px 3px 7px #999;
  z-index: 2;

}

/*.invite-button {
	border: solid 1px black;
	padding: 5px;

}*/

#btn1 {
	border: solid 1px black;
	padding: 5px;
	margin: 5px;
}

#btn2 {
	border: solid 1px black;
	padding: 5px;
	margin-left: 5px;

}

button#cancel-invite {
  background-color: gray;
  border: solid black 2px;

}


.mempicture_upload {
	border: solid black 2px;
	height: 400px;
	width: 800px;
	background-color: white;
	float: center;
	margin-left: 50px;
}

.people_posts {

	height: 100%;
	background-color: white;
	padding: 10px;
}

#timeline_link {
}

.user_name {
	color: black;
	font-weight: bold;
	font-size: 10px
}

.user_msg {
	color: black;
}

#timeline_link {
	float: right;
}

.search_button {
	width: 80px;
	height: 25px;
	background: #0071BC;
	border: none;
	color: white;
	vertical-align: top;
}

.enter_button {
	width: 80px;
	height: 25px;
	background: #0071BC;
	border: none;
	color: white;
	vertical-align: top;
}
