/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.destroy{
  color: red;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: 50px;
}

/*body{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: inline;
  background-color: gray;
}*/

td.image{
  margin: 0px 0px 0px 0px;
  display: inline;
}

.board-tr{
  margin: 0px 0px 0px 0px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.board-image{
  width: 340px;
  height: 340px;
  margin: 5px 0px 0px 5px;
  border: 4px black;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 1px black;
  -webkit-user-drag: none;
}

div.options_bar{
  position: relative;
  bottom: 346px;
  width: 340px;
  /*left: 9px;*/
  /*border-radius: 1px;*/
  margin: 0px 0px 0px 5px;
  background-color: rgba(10,10,10,.5);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.optionstd{
  position: absolute;
}

.link-text{
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  font-family: 'Droid', sans-serif;
}

.antiGoogleDrag{
  -webkit-user-drag: none;
}

#clean_up{
  position:fixed;
  background-color: white;
  border: none;
  bottom:0%;
  left: 93.85%;
  font-size: 15px;
  margin: 0px 0px 0px 0px;
  z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

.clicked{
  border: 1px solid white;
  border-radius: 1px;
  box-shadow: 0px 0px 5px 1px gray;
}

.new_pic_button{
  position: fixed;
  bottom:0%;
  background-color: black;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  font-family: 'Droid', sans-serif;
  z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999;

}

.new_popup{
  position: fixed;
  background-color: white;
  height: 90px;
  width: 300px;
  padding: 10px;
  text-align: center;
  bottom: 5%;
  left: 5%;
  border: 1px solid black;
  visibility: hidden;
  z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

.new_popup_section{
  padding: 0px 0px 5px 0px;
}

.new_popup_label{
  font-size: 25px;
  font-family: 'Droid', sans-serif;
  padding-bottom: 5px;
}

form.new_picture{
  background-color: white;
  text-align: center;
  font-family: 'Droid';
  color: black;
  border: 1px white;
}

.popup_alert{
  margin: 5px 0px 0px 0px;
  font-weight: bold;
  color: white;
}

.linksbar {
  margin-left: 30px;
}

.close_button {
  padding: 5px;
  position: relative;
}

.upload_button {
  padding: 5px;
  position: relative;
  left: -4px8px;
  margin: 10px 0px 0px 0px;
}

#picture_media {
  padding: 5px;
  background-color: white;
}
