body {
  background-image: url('gray_jean.png');
}

.user_profile_pic img {

	width: 100px;
	float: left;
	margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.build_memorial_button {

	width: 150px;
	height: 20px;
	background-color: #0071BC;
	color: white;
  padding: 5px 15px;
}

.build_memorial_button:hover {
  
  background-color: red;
  color: white;
  padding: 5px 15px; 
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  float: left;
}

.user_info {
  background-color: white;
  width: 80%;
  height: 100%;
  display: block;
  margin: 20px 20px 0px 20px;
  padding: 10px;
  opacity: 1;

}

.memorial_instructions {
  
  width: 80%;
  height: 100%;
  display: block;
  margin: 0px 20px 80px 20px;
  padding: 10px;
  opacity: 1;

}


.memorial_section {
  background-color: white;
  width: 80%;
  height: 100%;
  display: block;
  margin: 20px 20px 0px 20px;
  padding: 10px;
  opacity: 1;

}

.memorial_info{
  display: inline;
  height: 40px;
  width: 900px;
  border: 0px;
}

.new_memorial_popup{
  position: fixed;
  margin: 0px auto;
  z-index: 1;
  bottom: 0;
  left: 0px;
  right: 0px;
  background-color: #F0F0F0;
  width: 100%;
  display: none;
  box-shadow: 0 0 10px .5px;


}

.popup_button{
  height: 50px;
  width: 200px;
  /*color: white;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background: transparent;
  border: none;
  float: right;
  border: solid black 4px;

}

.popup_button:hover {
  background: black;
  color: white;
  border: none;
}

form#new_memorial{

}

.left_div{
  display: inline-block;
}

.left_field{
  margin-top: 10px;
  margin-bottom: 7px;
  width: 20%;
}

.middle_div{
  display: inline-block;
}

.middle_field{
  margin-top: 7px;
  margin-bottom: 14px;
  width: 20%;
}

.right_field{
  width: 40%;
  margin: 0px 0px 0px 0px;
  position: static;
  top: -24px;
}

.text_area_description{
  width: 100%;
  height: 100px;
  top: 20px;
  position: relative;
  resize: none;
}

.bottom_field{
  height: 30px;
  margin-top: 30px;
  width: 97%;
  text-align: center;
}

#new_memorial input{
  text-align: center;

}

#new_memorial input[type="date"]{
  text-indent: 20px;
}

.new_memorial_button {
  background: #0071BC;
  color: white;
  border: none;
  height: 25px;
  width: 180px;
}

.popup_alert{
  position: relative;
  bottom: 16px;
  height: 0px;
  text-align: center;
}

#instruct {
  
  width: 500px;
  float: left;
}


section div#box{
  border: 1px solid #000;
  height: 200px;
  width: 300px;
  /*box-shadow: 0px 1px 42px 0px #F5F5F5;*/
  padding: 20px;
  text-align: center;
  /*box-sizing: border-box;*/
  margin: 10px;
  /*transition: 1s all;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
/*  margin-left: auto;
  margin-right: auto;*/

}

section div#box:hover{

  background-color: #F0F0F0;
  /*margin-top: -5px;*/
/*  -ms-transform: translate(0, -5px); /* IE 9 */
 /* -webkit-transform: translate(0, -5px); /* Chrome, Safari, Opera */
  /*transform: translate(0,-5px);*/
}

.button {
  height: 30px;
  width: 100px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  background: #0071BC;
  border: none;
  text-decoration: none;
  display: block;
  padding: 5px;
  margin-left: 20px;
}



.memorials_invited {

  width: 80%;
  height: 100%;
  /*display: block;*/
  margin: 5px 20px 20px 20px;
  padding: 10px 10px 20px 10px;
  opacity: 1;
  position: relative;
  background: white;
}


#box #boxlink a {
  text-decoration: none;
  color: black;
}

.placeholder_boxes {
  padding: 10px 80px 20px 20px;
}
.memorial_placeholder {
  border: dashed;
  width: 300px;
  height: 200px;
  float: left;
  text-align: center;
}

.memorial_placeholder2 {
  border: dashed;
  width: 300px;
  height: 200px;
  float: right;
}