.user_profile_pic img {

	width: 100px;
	float: left;
	margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.build_memorial_button {

	width: 150px;
	height: 20px;
	background-color: #425068;
	color: white;
  padding: 5px 15px;
}

.build_memorial_button:hover {
  
  background-color: red;
  color: white;
  padding: 5px 15px; 
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  float: left;
}

.user_info {
  background-color: white;
  width: 80%;
  height: 100%;
  display: block;
  margin: 20px 20px 20px 20px;
  padding: 10px;
  opacity: 1;

}

.memorial_section {
  background-color: white;
  width: 80%;
  height: 100%;
  display: block;
  margin: 20px 20px 0px 20px;
  padding: 10px;
  opacity: 1;

}
